body {
  background: #eeeeee;
  margin: 0;
  font-family: 'STIX Two Math', serif;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
#chartcontainer {
  border: solid 1px rgb(153, 144, 161);
  float: left;
  margin-left: 5px;
}
#chartcontainer2 {
  border: solid 1px rgb(153, 144, 161);
  float: left;
  margin-left: 10px;
}
h2 {
  /* background: linear-gradient(#6c1f62 20%, #528abe 80%); */
  /* background: rgb(41, 82, 163); */
  background: #5a5a00/*rgb(0, 89, 179)*/;
  color: #eeeeee;
  height: 85px;
  width: 1400px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  /* font-size: 18px; */
  font-family: Tahoma;
}
.bar {
  fill: #c05600; 
  /* rgb(56, 120, 69); */
}
.highlight{
  fill: #ff800f;
  /* rgb(56, 180, 69);  */
}
.tick{
  font-family: 'STIX Two Math', serif;
  text-align:left;
  text-anchor: left;
}
.dropdowncolor{
  font-family: 'STIX Two Math', serif;
  background-color: #b6beec;
  /* #af9a1b; */
  /* rgb(194, 187, 89); */
  text-align: left;
  font-family: 'Trebuchet MS';
  width: 200px;
}
#tooltip {	
  position: absolute;			
  text-align: center;			
  width: 150px;					
  height: auto;					
  padding: 5px;				
  font-family: 'STIX Two Math', serif;
  font-size: 14px;
  font-weight: bold;
  background-color:  rgb(189, 206, 230);  
  border: 0px;		
  border-radius: 10px;			
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  pointer-events: none;			
}
#tooltip.hidden{
  display: none;
}
#tooltip p{
  margin:0;
  font-family: 'STIX Two Math', serif;
  font-size: 11px;
  line-height: 15px;
}

div.click-to-top span {
  visibility: hidden;
  width: 500px;
  background: rgba(40, 40, 40, 0.8);
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  left: 920px;
  top: 320px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

div.click-to-top:hover span {
  visibility: visible;
}